<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static '/assets/images/cvlogo.png' %}" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="{% static '/css/med_style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/tnc.css' %}" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QSPRWC08J8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QSPRWC08J8');
</script>
  <body>
    <div class="main-container">
      <div class="white_ellipse">
        <!---------------- Navbar ------------------>
        {% include "includes/navbar.html" %}
        <div class="tnc_body">
            <u><b><h1>Privacy Policy</h1></b></u>
            <p><b>These Privacy Policy are applicable w.e.f - April 01, 2022.</b></p>
            <p>Thank you for joining CollegeVerse. We at CollegeVerse (“<b>CollegeVerse</b>”, “<b>we</b>”, “<b>us</b>”) respect your privacy and want you to understand how we collect, use, and share data about you. This Privacy Policy covers our data collection practices and describes your rights regarding your personal data.</p>
            <p><b>By using the Services, you agree to the terms of this Privacy Policy. </b>You shouldn’t use the Services if you don’t agree with this Privacy Policy or any other agreement that governs your use of the Services.</p>
            <ol>
            <li>What Data We Get</li>
            <dd>
            <ol type="a">
            <li>We collect certain data from you directly, like information you enter yourself, data about your consumption of content, and data from third-party platforms you connect with CollegeVerse . We also collect some data automatically, like information about your device and what parts of our Services you interact with or spend time using.</li>
            <ul style="list-style-type:disc">
            <li>Data You Provide to Us</li>
            <dd>We may collect different data from or about you depending on how you use the Services. Below are some examples to help you better understand the data we collect.</dd>
            <li>Account Data</li>
            <dd>In order to use certain features (like accessing content), you need to create a user account which requires us to collect and store your email address, password, and account settings. To create an instructor account, we collect and store your name, email address, password, and account settings. As you use certain features on the site, you may be prompted to submit additional information including occupation, government ID information, verification photo, date of birth, race/ethnicity, skill interests, and phone number. Upon account creation, we assign you a unique identifying number.</dd>
            <li>Profile Data</li>
            <dd>You can also choose to provide profile information like a photo, website link, country, or other data. Your Profile Data will not be publicly viewable by others.</dd>
            <li>Educational Content Data</li>
            <dd>When you access content, we collect certain data including which counseling plans, quizzes you’ve started and completed; content purchases and credits; subscriptions; completion certificates; your exchanges with instructors, teaching assistants, and other students; and essays, answers to questions, and other items submitted to satisfy course and related content requirements. If you are an instructor, we store your educational content which may contain data about you..</dd>
        </ul>
        </ol>
        </dd>

            <li>What We Use Your Data For</li>
            <dd>
            <p>We use your data to do things like provide our Services, communicate with you, troubleshoot issues, secure against fraud and abuse, improve and update our Services, analyze how people use our Services, serve personalized advertising, and as required by law or necessary for safety and integrity. We retain your data for as long as it is needed to serve the purposes for which it was collected.</p>
            <p>We use the data we collect through your use of the Services to:</p>
            <ul style="list-style-type:disc">
            <li>Provide and administer the Services, including to facilitate participation in educational content, issue completion certificates, display customized content, and facilitate communication with other users;</li>
            <li>Process payments to instructors and other third parties;</li>
            <li>Process your requests and orders for educational content, products, specific services, information, or features;</li>
            <li>Communicate with you about your account by:</li>
            <ul style="list-style-type:circle">
            <li>Responding to your questions and concerns;</li>
            <li>Sending you administrative messages and information, including messages from instructors, students, and teaching assistants; notifications about changes to our Service; and updates to our agreements;</li>
            <li>Sending you information, such as by email or text messages, about your progress in courses and related content, rewards programs, new services, new features, promotions, newsletters, and other available instructor-created content (which you can opt out of at any time);</li>
            </ul>
            <li>Facilitate the Services’ technical functioning, including troubleshooting and resolving issues, securing the Services, and preventing fraud and abuse;</li>
            <li>Verify the identity of instructors;</li>
            <li>Solicit feedback from users;</li>
            <li>Market products, services, surveys, and promotions;</li>
            <li>Market Subscription Plans to prospective customers;</li>
            <li>Learn more about you by linking your data with additional data through third-party data providers and/or analyzing the data with the help of analytics service providers;</li>
            <li>As required or permitted by law; or</li>
            <li>As we, in our sole discretion, otherwise determine to be necessary to ensure the safety or integrity of our users, employees, third parties, the public, or our Services.</li>
        </ul>
        </dd>
            
            <li>Who We Share Your Data With</li>
            <dd>
            <p>We share certain data about you with instructors,  companies performing services for us, our business partners, analytics and data enrichment providers ,advertising companies who help us promote our Services. We may also share your data as needed for security, legal compliance, or as part of a corporate restructuring. Lastly, we can share data in other ways if it is aggregated or de-identified or if we get your consent.</p>
            <p>We may share your data with third parties under the following circumstances or as otherwise described in this Privacy Policy:</p>
            <p><dt>a. With Your Instructors:</dt> We share data that we have about you (except your email address) with instructors or teaching assistants for educational content you access or request information about, so they can improve their content for you and other students. This data may include things like your city, country, browser language, operating system, device settings, the site that brought you to CollegeVerse, and your activities on CollegeVerse. If we collect additional data about you (like age or gender), we may share that too. We will not share your email address with instructors or teaching assistants.</p>
            <p><dt>b. With Business Partners:</dt> We have agreements with other websites and platforms to distribute our Services and drive traffic to CollegeVerse. For example, we work with Benesse in Japan. Depending on your location, we may share your data with these partners.</p>
            <p><dt>c. For Advertising:</dt> If we decide to use an advertising-supported revenue model in the future, we may use and share certain System Data and Usage Data with third-party advertisers and networks to show general demographic and preference information among our users. We may also allow advertisers to collect System Data through Data Collection Tools (as detailed in Section 2.1), to use this data to offer you targeted ad delivery to personalize your user experience (through behavioral advertising), and to undertake web analytics. Advertisers may also share with us the data they collect about you. To learn more or opt out from participating ad networks’ behavioral advertising, see Section 6.1 (Your Choices About the Use of Your Data) below. Note that if you opt out, you’ll continue to be served generic ads.</p>
            <p><dt>d. For Security and Legal Compliance:</dt> We may disclose your data to third parties if we (in our sole discretion) have a good faith belief that the disclosure is:</p>
            <dd>
                <ul>
            <li>Permitted or required by law;</li>
            <li>Requested as part of a judicial, governmental, or legal inquiry, order, or proceeding;</li>
            <li>Reasonably necessary as part of a valid subpoena, warrant, or other legally-valid request;</li>
            <li>Reasonably necessary to enforce our Terms of Use, Privacy Policy, and other legal agreements;</li>
            <li>Required to detect, prevent, or address fraud, abuse, misuse, potential violations of law (or rule or regulation), or security or technical issues; or</li>
            <li>Reasonably necessary in our discretion to protect against imminent harm to the rights, property, or safety of CollegeVerse, our users, employees, members of the public, or our Services.</li>
            <li>We may also disclose data about you to our auditors and legal advisors in order to assess our disclosure obligations and rights under this Privacy Policy.</li>
       </ul>
        </dd>
            <p><dt>e. During a Change in Control: </dt>If CollegeVerse undergoes a business transaction like a merger, acquisition, corporate divestiture, or dissolution (including bankruptcy), or a sale of all or some of its assets, we may share, disclose, or transfer all of your data to the successor organization during such transition or in contemplation of a transition (including during due diligence).</p>
            <p><dt>f. After Aggregation/De-identification: </dt>We may disclose or use aggregated or de-identified data for any purpose.</p>
            <p><dt>g. With Your Permission: </dt>With your consent, we may share data to third parties outside the scope of this Privacy Policy.</p>
            <p> </p>
        </ul>
        </dd>
            <li>Security</li>
            <dd>CollegeVerse takes appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal data that we collect and store. These measures vary based on the type and sensitivity of the data. Unfortunately, however, no system can be 100% secured, so we cannot guarantee that communications between you and CollegeVerse, the Services, or any information provided to us in connection with the data we collect through the Services will be free from unauthorized access by third parties. Your password is an important part of our security system, and it is your responsibility to protect it. You should not share your password with any third party, and if you believe your password or account has been compromised, you should change it immediately </dd>
            <li>Your Rights</li>
            <dd>
            <p>You have certain rights around the use of your data, including the ability to opt out of promotional emails, cookies, and collection of your data by certain third parties. You can update or terminate your account from within our Services, and can also contact us for individual rights requests about your personal data. Parents who believe we’ve unintentionally collected personal data about their underage child should contact us for help deleting that information.</p>
            <ol type="i">
            <li>Accessing Your Personal Data</li>
            <p>You can access and update your personal data that CollegeVerse collects and maintains as follows:</p>
            <ul style="list-style-type:disc">
            <li>To update data you provide directly, log into your account and update your account at any time.</li>
            <li>To terminate your account:</li>
            <li>If you are a student, visit your profile settings page and follow the steps detailed here.</li>
            <li>If you are an instructor, follow the steps detailed here.</li>
            <li>If you have any issues terminating your account, please contact our Support Team.</li>
            <li>Please note: even after your account is terminated, some or all of your data may still be visible to others, including without limitation any data that has been (a) copied, stored, or disseminated by other users (including comments on content); (b) shared or disseminated by you or others (including in your shared content); or (c) posted to a third-party platform. Even after your account is terminated, we retain your data for as long as we have a legitimate purpose to do so (and in accordance with applicable law), including to assist with legal obligations, resolve disputes, and enforce our agreements. We may retain and disclose such data pursuant to this Privacy Policy after your account has been terminated.</li>
        </ul>
            <li>To request to access, correct, or delete your personal data, please use our online form here. You can also submit these requests by emailing privacy@CollegeVerse.com .Please allow up to 30 days for a response. For your protection, we may require that the request be sent through the email address associated with your account, and we may need to verify your identity before implementing your request. Please note that we retain certain data where we have a lawful basis to do so, including for mandatory record-keeping and to complete transactions.</li>
            <p></p>
        </ol>
        
    </dd>
            <li>Modifications to This Privacy Policy</li>
            <dd>
            <p>From time to time, we may update this Privacy Policy. If we make any material change to it, we will notify you via email, through a notification posted on the Services, or as required by applicable law. We will also include a summary of the key changes. Unless stated otherwise, modifications will become effective on the day they are posted.</p>
            <p>As permitted by applicable law, if you continue to use the Services after the effective date of any change, then your access and/or use will be deemed an acceptance of (and agreement to follow and be bound by) the revised Privacy Policy. The revised Privacy Policy supersedes all previous Privacy Policies.</p>
            <p></p>
        </dd>
        </ol>        
</div>
        </div>

        <!--footer-->
        {% include "includes/footer.html" %}
      
    </div>
  </body>
</html>
